<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Register Servlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.login_register.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.login_register.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Logout Servlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.login_register.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- search -->
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.dashboard.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <!-- movi deatails -->
    <servlet>
        <servlet-name>MovieDetailsServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.dashboard.MovieDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieDetailsServlet</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>


    <!-- добавиьть фильм -->
    <servlet>
        <servlet-name>AddFilmToPlaylistServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.playlists.AddFilmToPlaylistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFilmToPlaylistServlet</servlet-name>
        <url-pattern>/addFilmToPlaylist</url-pattern>
    </servlet-mapping>



</web-app>
