<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Register Servlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.login_register.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.login_register.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Logout Servlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.login_register.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- search -->
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.dashboard.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <!-- movi deatails -->
    <servlet>
        <servlet-name>MovieDetailsServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.dashboard.MovieDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieDetailsServlet</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>


    <!-- добавиьть фильм -->
    <servlet>
        <servlet-name>AddFilmToPlaylistServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.playlists.AddFilmToPlaylistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFilmToPlaylistServlet</servlet-name>
        <url-pattern>/addFilmToPlaylist</url-pattern>
    </servlet-mapping>

    <!-- добавиьть фильм в просмотренные -->
    <servlet>
        <servlet-name>AddToWatchedServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.playlists.AddToWatchedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToWatchedServlet</servlet-name>
        <url-pattern>/addToWatched</url-pattern>
    </servlet-mapping>

    <!-- просмотр плэйлистов -->
    <servlet>
        <servlet-name>UserPlaylistsServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.playlists.UserPlaylistsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPlaylistsServlet</servlet-name>
        <url-pattern>/playlists</url-pattern>
    </servlet-mapping>

    <!-- просмотр фильмов в плэйлистов -->
    <servlet>
        <servlet-name>ViewPlaylistServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.playlists.ViewPlaylistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPlaylistServlet</servlet-name>
        <url-pattern>/viewPlaylist</url-pattern>
    </servlet-mapping>

    <!-- просмотр фильмов в просмотренных -->
    <servlet>
        <servlet-name>ViewedMoviesServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.playlists.ViewedMoviesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewedMoviesServlet</servlet-name>
        <url-pattern>/whatched</url-pattern>
    </servlet-mapping>

    <!-- абміт ревью -->
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.review.ReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/addReview</url-pattern>
    </servlet-mapping>


    <!-- DefaultServlet для статических ресурсов -->
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

    <!-- для просмотра рекомендаций -->
    <servlet>
        <servlet-name>RecommendationServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.recomendations.RecommendationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecommendationServlet</servlet-name>
        <url-pattern>/recommendations</url-pattern>
    </servlet-mapping>

    <!-- для просмотра популярных -->
    <servlet>
        <servlet-name>PopularMoviesServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.popular.PopularMoviesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PopularMoviesServlet</servlet-name>
        <url-pattern>/popular</url-pattern>
    </servlet-mapping>

    <!-- длядля копки просмотра похожих фильмов -->
    <servlet>
        <servlet-name>SimilarMoviesServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.recomendations.SimilarMoviesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimilarMoviesServlet</servlet-name>
        <url-pattern>/similarMovies</url-pattern>
    </servlet-mapping>


    <!-- для добаления новых плэйлистов -->
    <servlet>
        <servlet-name>CreatePlaylistServlet</servlet-name>
        <servlet-class>com.example.kino_search.servlet.playlists.CreatePlaylistServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreatePlaylistServlet</servlet-name>
        <url-pattern>/createPlaylist</url-pattern>
    </servlet-mapping>

</web-app>
